/* .ulClass :nth-child(3n) {
  color: red;
}
a :hover,
:focus {
  color: gold;
}
p::first-line {
  color: red;
}
::selection {
  color: dodgerblue;
  background-color: aqua;
}
p::before {
  content: "#####";
  color: gold;
} */
* {
  box-sizing: border-box;
}
h1 {
  color: gold;
}
.h1Class {
  color: dodgerblue;
}
#h1Id {
  color: red;
}
.article #h1Id {
  color: aqua;
}
body {
  width: 300px;
}
:root {
  font-size: 20px;
}
.box {
  width: 100px;
  height: 100px;
  /* for rem 10 times of font-size of root element */
  /*for em 10 times of font-size of body or current element */
  background-color: gold;
  margin: 1rem;
}
.container{
    border: 4px solid orange;
    display: flex;
    flex-wrap: wrap;
}
/* #box1 {
  background-color: gold;
}
#box2 {
  background-color: dodgerblue;
}
